body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #440A7F 10%, #FE2042 100%);
    background-size: 400% 400%;
    animation: gradientAnimation 7.5s ease infinite;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/*Bubbles */
.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
}

.bubble {
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 0px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.40);
    animation: bubbles 4s linear infinite;
}

.bubble:before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.3) translate(-42%, -42%);
    background: radial-gradient(#fff, transparent);
    border-radius: 50%;
    opacity: 60%;

}

@keyframes bubbles {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) translateX(calc(var(--x-offset) * 1px + var(--mouse-distance) * 0.05px));
        opacity: 0;
    }
}


/*Container */
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    padding: 35px;  
    box-shadow: 0 0 35px rgba(0, 0, 0, .25);
    position: relative;
    z-index: 2;
    backdrop-filter: blur(4px); /* Add glass diffusion blur effect */
    border: 3px solid transparent; /* Make the border width greater than 0 */
    border-image: linear-gradient(135deg, #8A2BE2, #A020F0, #DA70D6) 1; /* Three-color gradient */
    animation: borderAnimation 15s ease infinite; /* Add animation to the border */ 
}

@keyframes borderAnimation {
    0% { border-image: linear-gradient(135deg, #8A2BE2, #A020F0, #DA70D6) 1; }
    50% { border-image: linear-gradient(135deg, #DA70D6, #A020F0, #8A2BE2) 1; }
    100% { border-image: linear-gradient(135deg, #8A2BE2, #A020F0, #DA70D6) 1; }

}



/*Profile Pic */
.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    border: 3px solid #8A2BE2;

}

/*Profile Text*/
.profile h1 {
    margin: 10px 0;
    font-size: 32px;
    color: #FFFFFF; /* Change the font color to white */
    text-shadow: -2px -2px 0 #8A2BE2, 2px -2px 0 #8A2BE2, -2px 2px 0 #8A2BE2, 2px 2px 0 #8A2BE2;
    animation: blurIn 1s forwards; 
}

/*Link Buttons */
.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px; /* Adjust the width as needed */  
}


.link-button {
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /*Distance for Icons and Text*/
    transition: background 0.3s, transform 0.3s, border-color 0.3s; 
    position: relative; 
    background-color: transparent;
    
}

.link-button i {
    font-size: 20px;
    animation: danceTop 0.5s forwards; 
}

.link-button.newgrounds {
    border: 2.5px solid white;
    border-color: rgba(255,204,0, 1);
    backdrop-filter: blur(3px);
    animation: blurIn 1s forwards;
}

.link-button.newgrounds img {
    width: 25px; /* Adjust the width of the custom icon */
    height: 25px; /* Adjust the height of the custom icon */
    margin-right: 5px; /* Optional: Adjust the spacing between the icon and text */
    animation: danceTop 0.75s forwards; 
}

.link-button.newgrounds:hover {
    background-color: rgba(255,204,0, 1);
    transform: scale(1.075);
    content: attr(data-content); 
}

.link-button.youtube {
    border: 2.5px solid white;
    border-color: rgba(255,0,0, 0.75);
    backdrop-filter: blur(3px);
    animation: blurIn 1.25s forwards;
}

.link-button.youtube:hover {
    background-color: rgba(255,0,0, 1);
    transform: scale(1.075);
}

.link-button.soundcloud {
    border: 2.5px solid white;
    border-color: rgba(255,85,0, 0.75);
    backdrop-filter: blur(3px);
    animation: blurIn 1.5s forwards;
}

.link-button.soundcloud:hover {
    background-color: rgba(255,85,0, 1);
    transform: scale(1.075);
    
}

.link-button.twitter {
    border: 2.5px solid white;
    border-color: rgba(29,161,242, 0.75); 
    backdrop-filter: blur(3px);
    animation: blurIn 1.75s forwards;
}

.link-button.twitter:hover {
    background-color: rgba(29,161,242, 1);
    transform: scale(1.075);
}

.link-button.spotify {
    border: 2.5px solid white;
    border-color: rgba(30,215,96, 0.75);
    backdrop-filter: blur(3px);
    animation: blurIn 2s forwards;
}

.link-button.spotify:hover {
    background-color: rgba(30,215,96, 1);
    transform: scale(1.075);
}

.link-button:active {
    animation: pushRelease 1s forwards; 
}

/*Combo Counter */
.combo-counter {
    position: absolute;
    font-size: 24px;
    color: white;
    opacity: 1;
    pointer-events: none;
    z-index: 9999;
    animation: fadeOut 2s forwards;
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#highest-combo {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

