/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #440A7F 10%, #ff1044 100%);
    background-size: 450% 450%;
    animation: gradientAnimation 10s ease infinite;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/*Sound Notification*/
.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    background: rgba(120, 12, 29, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    animation: fadeIn 1.5s forwards;
    transition: all 0.3s;
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
}
        
.hidden {
    background: rgba(255, 255, 255, 0.5);
    animation: fadeOut 0.5s forwards;
}

/*Bubbles */
.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
    filter: blur(0.75px);
}

.bubble {
    position: absolute;
    bottom: -25px;
    width: 0px;
    height: 0px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.40);
    animation: bubbles 4s linear infinite;
}

.bubble:before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.3) translate(-42%, -42%);
    background: radial-gradient(#fff, transparent);
    border-radius: 50%;
    opacity: 60%;

}

@keyframes bubbles {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) translateX(calc(var(--x-offset) * 1px + var(--mouse-distance) * 0.05px));
        opacity: 0;
    }
}


/*Container */
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    padding: 35px;  
    box-shadow: 0 0 35px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    position: fixed;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 35;
    backdrop-filter: blur(4px); 
    border: 3px solid transparent; 
    border-image: linear-gradient(135deg, #8A2BE2, #A020F0, #DA70D6) 1;
    animation: borderAnimation 15s ease infinite;
}

@keyframes borderAnimation {
    0% { border-image: linear-gradient(135deg, #8A2BE2, #A020F0, #DA70D6) 1; }
    50% { border-image: linear-gradient(135deg, #DA70D6, #A020F0, #8A2BE2) 1; }
    100% { border-image: linear-gradient(135deg, #8A2BE2, #A020F0, #DA70D6) 1; }

}

/* Mobile Optimization */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        min-height: auto;
        max-height: 90%;
        margin: auto;
        overflow: hidden;
    }

    .profile h1 {
        font-size: 2em;
        flex-wrap: wrap;
    }

    .link-button {
        padding: 10px 20px;
        font-size: 16px;
    }
    
    .links {
        max-width: 100%;
        min-width: 200px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    .link-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/*Profile Pic */
.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 2.5px;
    cursor: pointer;
    border: 3px solid #8A2BE2;
    transition: filter 0.75s;
}

#text-box-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#text-box {
    padding: 10px;
    font-size: 20px;
    color: #FFFFFF;
    width: 30px;
    height: 20;
    border: 2.5px solid #8A2BE2;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    background-color: transparent;
    animation: blurIn 0.75s forwards;
}

#text-box::placeholder {
    color: #FFFFFF; 
    opacity: 0.5; 
}

#pfpcredit {
    margin-top: 10px 0;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF; 
    transition: filter 1s;
}

#credittooltip {
    position: absolute;
    left: 50%;
    top: 143px;
    transform: translateX(-50%);
    background-color: #000000;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#credittooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;
}

#pfpcredit:hover #credittooltip {
    visibility: visible;
    opacity: 1;
}

/*Profile Text*/
.profile h1 {
    margin: 5px 0;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: -2px -2px 0 #8A2BE2, 2px -2px 0 #8A2BE2, -2px 2px 0 #8A2BE2, 2px 2px 0 #8A2BE2;
    transition: filter 1s;

}

/*Link Buttons */
.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}

.link-button {
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background 1s, transform 0.3s, border-color 0.3s, filter 1s; 
    position: relative; 
    background: rgba(255, 255, 255, 0.15);
    user-select: none;
}

.link-button i {
    font-size: 20px;
    animation: danceTop 0.5s forwards; 
}

/*NewGrounds*/
.link-button.newgrounds {
    border: 2.5px solid white;
    border-color: rgba(255,181,14, 1);
    
    transition: background 0.5s, transform 0.3s, border-color 0.3s, filter 1s, box-shadow 0.5s ease-in-out; 
    box-shadow: 
        inset 0 0 10px rgba(255,181,14, 0.5),
        0 0 10px rgba(255,181,14, 0.5); 
}

.link-button.newgrounds img {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    animation: danceTop 0.75s forwards; 
}

.link-button.newgrounds:hover {
    background-color: rgba(255,181,14, 1);
    transform: scale(1.075);
    box-shadow: 
    0 0 18px rgba(255,181,14, 1);
}

/*YouTube*/
.link-button.youtube {
    border: 2.5px solid white;
    border-color: rgba(255,0,0, 0.75);
    transition: background 0.5s, transform 0.3s, border-color 0.3s, filter 1.25s, box-shadow 0.5s ease-in-out; 
    box-shadow: 
    inset 0 0 10px rgba(255,0,0, 0.5),
    0 0 10px rgba(255,0,0, 0.5); 
}

.link-button.youtube:hover {
    background-color: rgba(255,0,0, 1);
    transform: scale(1.075);
    box-shadow: 
    0 0 18px rgba(255,0,0, 1); 
}

/*Spotify*/
.link-button.spotify {
    border: 2.5px solid white;
    border-color: rgba(30,215,96, 0.75);    
    transition: background 0.5s, transform 0.3s, border-color 0.3s, filter 99999999s, box-shadow 0.5s ease-in-out; 
    animation: wiggle .3s linear;
    box-shadow: 
    inset 0 0 10px rgba(30,215,96, 0.5),
    0 0 10px rgba(30,215,96, 0.5);
}

.link-button.spotify:hover {
    
    transform: scale(0.925);
    box-shadow: 
    0 0 30px rgba(30,215,96, 1); 
}

/*Twitter*/
.link-button.twitter {
    border: 2.5px solid white;
    border-color: rgba(29,161,242, 0.75); 
    transition: background 0.5s, transform 0.3s, border-color 0.3s, filter 1.75s, box-shadow 0.5s ease-in-out; 
    box-shadow: 
    inset 0 0 10px rgba(29,161,242, 0.5),
    0 0 10px rgba(29,161,242, 0.5);
}

.link-button.twitter:hover {
    background-color: rgba(29,161,242, 1);
    transform: scale(1.075);
    box-shadow: 
    0 0 18px rgba(29,161,242, 1);
}

/*SoundCloud*/
.link-button.soundcloud {
    border: 2.5px solid white;
    border-color: rgba(255,85,0, 0.75);
    transition: background 0.5s, transform 0.3s, border-color 0.3s, filter 2s, box-shadow 0.5s ease-in-out; 
    box-shadow: 
    inset 0 0 10px rgba(255,85,0, 0.5),
    0 0 10px rgba(255,85,0, 0.5);
}

.link-button.soundcloud:hover {
    background-color: rgba(255,85,0, 1);
    transform: scale(1.075);
    box-shadow: 
    0 0 18px rgba(255,85,0, 1);
}

/*SoundCloud*/
.link-button.roblox {
    border: 2.5px solid white;
    border-color: rgba(161, 165, 162, 1);
    
    transition: background 0.5s, transform 0.3s, border-color 0.3s, filter 2.25s, box-shadow 0.5s ease-in-out; 
    box-shadow: 
        inset 0 0 10px rgba(161, 165, 162, 0.5),
        0 0 10px rgba(161, 165, 162, 0.5); 
}

.link-button.roblox img {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    animation: danceTop 0.75s forwards; 
}

.link-button.roblox:hover {
    background-color: rgba(161, 165, 162, 1);
    transform: scale(1.075);
    box-shadow: 
    0 0 18px rgba(161, 165, 162, 1);
}

/*Latest YT Video*/
.link-button.latest {
    border: 2.5px solid white;
    border-color: #FFFFFF;
    transition: 
        background 0.5s,
        transform 0.75s,
        border-color 0.3s,
        filter 1.25s,
        box-shadow 0.5s ease-in-out,
        width 0.3s,
        padding-top 0.3s;
    box-shadow: 
        inset 0 0 10px #FFFFFF,
        0 0 10px #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 2px 2px 1px #000000;
    font-weight: bold;
}

.link-button.latest:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pic/latest.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: filter 0.8s;
    filter: blur(4px);
    z-index: -1;
}

.link-button.latest:hover {
    transform: scale(1.075);
    box-shadow: 
        0 0 18px #FFFFFF;
    padding-top: 155px;
}

.link-button.latest:hover::before {
    filter: blur(0); /* Remove blur effect on hover */
}

.link-button:active,
.link-button:focus {
  animation: pushRelease 1s forwards;
}

@keyframes pushRelease {
  0% { transform: scale(1); }
  100% { transform: scale(0.9); }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

/*Combo Counter */
.combo-counter {
    position: absolute;
    font-size: 24px;
    color: white;
    opacity: 1;
    pointer-events: none;
    z-index: 9999;
    animation: fadeOut 2s forwards;
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#highest-combo {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

/*FNF Arrows*/

.floating-images {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    align-items: center;
    z-index: 1;
}

.floating-image {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 0px;
    height: 0px;
    background: transparent;
    pointer-events: none;
    animation: floatUp 4s linear infinite; 
}

@keyframes floatUp {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

/*Infinite Fun*/

#black-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); 
    z-index: 2; 
    display: none; 
}

.scrolling-images {
    width: 5000px;
    height: 5000px;
    position: absolute; 
    margin: 0.5em;
    background: url(pic/majin.png);
    z-index: 3;
    animation: scrollDiagonally  40s linear infinite;   
    display: none;
    filter: distort(1);
    overflow: hidden; 
    transition: transform 3s; 
}


@keyframes scrollDiagonally {
    0% {
        transform: translate(0, 0); /* Start from top-left corner */
        transition: transform 3s; 
    }
    100% {
        transform: translate(-1000px, 1000px); /* Move diagonally to center */
        transition: transform 3s; 
    }
}

.fii-text {
    position: fixed; 
    width: 80%;
    height: 80%;
    z-index: 5;   
    overflow: hidden; 
    transition: transform 3s; 
    display: none;
    filter: drop-shadow(0px 6px 6px #000000);
    animation: hu__hu__ infinite 2.5s ease-in-out
}

@keyframes hu__hu__ {
    50% { transform: translateY(20px) }
}

 /* Mute toggle button */
.mute-toggle {
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-size: 35px;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.mute-toggle:hover {
    text-shadow: 0 0 25px rgba(255, 255, 255, 1);
    transform: rotate(-15deg) scale(1.1);
}

.mute-toggle:active,
.mute-toggle:focus {
  animation: pushRelease 0.5s forwards;
}        

/*Copyright and Credit*/
.copyright {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    z-index: 4;
}



